<% provide(:title, 'Nosotros') %>
<h1>Nosotros</h1>
<p>
  
Somos un grupo de jovenes desarrolladores pensando en los usuarios que desean aprender y mejorar sus tecnicas
De programacion a traves de pseudocodigo. Poniendo a prueba sus conocimientos en los distintos niveles que esta aplicacion ofrece

</p>