<% provide(:title, 'Contacto') %>
<h1>Contacto</h1>
<h2>
	Proximamente
</h2>
<!--<p>
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/contact">contact page</a>.
</p>-->