<% provide(:title, 'Contacto') %>
<h1>Contacto</h1>
<p>
	Estimado usuario si tienes alguna sugerencia puedes escribirnos un correo a la siguiente direccion: sofcode@gmail.com
	El equipo de programadores y desarrollo responderemos cuanto antes sea posible.
</p>