<% provide(:title, 'Ayuda') %>
<h1>Ayuda</h1>
<p>
	Hola de nuevo, si tienes alguna Duda acerca del lenguaje pincha <a href="#">aqui</a>, si tienes alguna consuta del funcionamiento de la aplicacion podrias entrar a nuestro <a href="#">Blog</a><br><br>
	Si quieres documentacion acerca de el Pseudocodigo aqui tienes una lista de enlaces que te pueden interesar

	<ul>
		<li><a href="#">Aprendiendo con bal bla bal</a></li>
		<li><a href="#">Etc etc etc etc</a></li>
	</ul>
	<address>
		<small>Si necesitas otro tipo de ayuda puedes enviarnos un correo a: </small>
		<small><a href="mailto:#">sofcode@gmail.com</a></small>
	</address>
</p>
