<div class="center hero-unit">
	<h1>School of Code</h1>
	<h2>
		Hola, en nuestra pagina te vamos a enseñar a programar por medio de un lenguaje llamado Pseudocodigo en la comodidad de tu navegador con lecciones en video, desafíos de codificación, torneos y muchas cosas más
	</h2>
	<%= link_to "Conoce Mas", "#", class: "btn btn-large btn-primary" %>
</div>