   	<div class="center hero-unit">
		<h1>School of Code</h1>
		<p class="muted">Gente de Todo el Mundo esta Aprendiendo con nosotros.</p>
		<%= link_to "Unete Hoy!", signup_path , class: "btn btn-large btn-primary" %>
	</div>
	<div class="center hero-unit home">
		<div class="row">
		    <div class="span6">
		      <iframe src="//player.vimeo.com/video/78514936" width="458" height="291" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		    </div>
		    <div class="span3">
				<ul class="thumbnails">
					  <li class="span5">
					    <div class="thumbnail">
					      <p class="default">Aprende a Programar desde la Comodidad de tu Navegador, de Forma Gratuita!, con lecciones interactivas, desafios de codificacion, logrando las mejores posiciones en nuestro Ranking</p>
					      <%= image_tag("home.png", :alt => "") %>
					      <%= link_to "Ver Cursos", courses_path , class: "btn btn-info" %>
					  	</div>
					  </li>
				</ul>
			</div>
		</div>
	</div>