<h1>School of Code</h1>
<p>
	Hola, en nuestra pagina te vamos a enseñar a programar por medio de un lenguaje llamado Pseudocodigo en la comodidad de tu navegador con lecciones en video, desafíos de codificación, torneos y muchas cosas más
</p>
