<section>
	<h1>Agrega un Nuevo Nivel<br><small>Apoya a la comunidad de School of Code</small></h1>
	<div class="row">
	  	<div class="span6 offset3">
	   		<%= render 'form' %>
	  	</div>
	</div>
</section>
