<div class="hero-unit courses">
	<center>
  		<h1 class="custom-font">Bienvenido! A continuacion tienes una lista de Cursos Disponibles</h1>
  		<p> <%= link_to "Pulsa Aqui si eres Nuevo", courses_path , class: "btn btn-danger btn-large" %></p>
  	</center>
</div>
<div class="container">
	<%= render "courses" %>
</div>
