<tr>
  <td><%= exercise.title %></td>
  <td><%= exercise.description  %></td>
  <td><%= exercise.solution %></td>
  <td><label class="checkbox inline"><input type="checkbox" id="inlineCheckbox1" value="option1"></label></td>
</tr>
