<div class="row">
    <div class="offset8">
    	<%= link_to new_level_path, class: "btn btn-inverse" do %>
    		<i class="icon-plus icon-white"></i> Agregar
    	<% end %>
    	<%= link_to "#", class: "btn" do %>
    		<i class="icon-eye-open"></i> Ver
    	<% end %>
    	<%= link_to "#", class: "btn" do %>
    		<i class="icon-pencil"></i> Editar
    	<% end %>
    	<%= link_to "#", class: "btn btn-danger" do %>
    		<i class="icon-trash icon-white"></i> 
    	<% end %>
    </div>
</div>