<footer class="footer">
  <small>
    <a href="#">©Copyleft - Todos los errores reservados.</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Nosotros",   nosotros_path %></li>
      <li><%= link_to "Contactanos", contacto_path %></li>
      <li><%= link_to "¿Necesitas Ayuda?",    ayuda_path %></li>
    </ul>
  </nav>
</footer>

